python-telegram-bot[job-queue]==20.7
yfinance==0.2.38
matplotlib==3.8.2
requests==2.31.0
websocket-client==1.7.0
pandas==2.1.4
numpy==1.26.2
openai
psycopg2-binary
python-binance
apscheduler
tenacity

